.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}




.cadastro {
    height: 1350px;
    background-color: #232830;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat; /*Avisar professores sobre essas tags utillizadas */ 
    background-size: 100% 100%;
    padding: 50px;

}

.cadastro {
    color: rgb(0, 0, 0);
}

.card_cadastro {
    background-color: #1e6e93;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 15px solid #0E2C61;
    gap: 5px;
}


.cadastro  h1 {
    font-size: 60px;
    color: white;
}


.cadastro p {
    font-size: 20px;
    color: white;
}

.cadastro input {
    border: 7px solid #8AD9FF;
}

.cadastro a {
    text-decoration: none;
    color: #8AD9FF;
}

.cadastro input{
    height: 40px;
    width: 580px;
    color:  #0E2C61;
    font-family:"Lilita One", sans-serif ;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


.cadastro .botao_cadastro_login {
    background-color: #0E2C61;
    color: white;
    font-family: "Lilita One", sans-serif;
    font-size: 50px;
    height: 80px;
    width: 380px;
    
    border: 7px solid #8AD9FF;
    border-radius: 20px;
}

.erros {
    display: flex;
}

.erros b {
    color: rgb(231, 121, 121);
    font-size: 20px;
}


.cadastro select {
        height: 60px;
    width: 590px;
    color:  #0E2C61;
    font-family:"Lilita One", sans-serif ;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    border: 7px solid #8AD9FF;
    border-radius: 20px;

}

.altura_peso {
    display: flex;
    gap: 20px;
}

.altura_peso input {
    width: 275px;
    height: 40px;
}

.altura_peso p {
    font-size: 20px;
    text-align: center;
}

.altura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.metricas {
    background-color: #4e6080;
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 7px solid #8AD9FF;


}