.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}




.login_cadastro {
    height: 1600px;
    background-color: #232830;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat; /*Avisar professores sobre essas tags utillizadas */ 
    background-size: 100% 100%;
    padding: 50px;
    gap: 20px;
}

.login_cadastro {
    color: white;
}




.login_cadastro  h1 {
    font-size: 60px;
}


.login_cadastro p {
    font-size: 20px;
}

.login_cadastro input {
    border: 7px solid #8AD9FF;
}

.login_cadastro input{
    height: 40px;
    width: 580px;
    color:  #0E2C61;
    font-family:"Lilita One", sans-serif ;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


.login_cadastro .botao_cadastro_login {
    background-color: #0E2C61;
    color: white;
    font-family: "Lilita One", sans-serif;
    font-size: 50px;
    height: 80px;
    width: 380px;
    
    border: 7px solid #8AD9FF;
    border-radius: 20px;
}

.erros {
    display: flex;
}

.erros b {
    color: red;
}


.login_cadastro select {
        height: 40px;
    width: 580px;
    color:  #0E2C61;
    font-family:"Lilita One", sans-serif ;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    border: 7px solid #0E2C61;
    border-radius: 20px;

}