.equipamentos {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3100px;
  

}

.capacete {
    background-color: #0E2C61;
    width: 800px;
    color: white;
    height: 450px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capacete_titulo {
   
    width: 760px;
}

.div_dentro_capacete img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}



.shoulder {
    background-color: #0E2C61;
    width: 800px;
    color: white;
    height: 450px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoulder_titulo {
   
    width: 760px;
}

.div_dentro_shoulder img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}



.Chuteira {
    background-color: #0E2C61;
    width: 800px;
    color: white;
    height: 450px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chuteira_titulo {
   
    width: 760px;
}

.div_dentro_chuteira img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}




.calça_seven_pieces {
    background-color: #0E2C61;
    width: 800px;
    color: white;
    height: 450px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_calça {
   
    width: 760px;
}

.div_dentro_calça img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}


.luva {
    background-color: #0E2C61;
    width: 800px;
    color: white;
    height: 450px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_luvas {
   
    width: 760px;
}

.div_dentro_luva img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}


.bucal {
    background-color: #0E2C61;
    width: 800px;
    color: white;
    height: 450px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_bucal {
   
    width: 760px;
}

.div_dentro_bucal img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}



.ir_para_cadastro {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.ir_para_cadastro img{
    height: 400px;
    width: 400px;
    
}

.texto_botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto_botao button {
       background-color: #FBD800;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(5, 4, 4);
    font-size: 20px;
    border-radius: 15px;
    font-family: "Lilita One", sans-serif;
    border: none;
}