

.caixa_origem {
    height: auto;
}
.posições {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    gap: 40px;
    height: auto;

}

.regras {
    height: 600px;
}

.posições_ataque {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 3000;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 7px;
    background-color: #0E2C61;

}


#contexto_futebol {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 1600px;
    width: 800px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
}

.titulo_posições {
 
    display: flex;
    width: 850px;
    justify-content: space-between;
    color: white;
}