.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #445056;
    font-family: "Lilita One", sans-serif;
}

header {
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header img {
    height: 120px;
    width: 140px;
}


.mensagem_usuario {
    background-color: #0B9FEB;
    color: white;
    width: 1000px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.pagina_total {
    display: flex;
    justify-content: space-between;
} 



.nav_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0E2C61;
    height: 400px;
    width: 300px;
    border-radius: 0px 20px 20px 0px;
    gap: 35px;
}

.nav_bar {
    color: white;
    font-size: 30px;
}

.nav_bar button a{
    text-decoration: none;
    color: white;
}


.nav_bar button {
          background-color: #0B9FEB;;
    color: white;
    font-family: "Lilita One", sans-serif;
    font-size: 30px;
    height: 70px;
    width: 240px;
    border: 7px solid #8AD9FF;
    border-radius: 20px;
    text-decoration: none;
}

.posição {
    display: flex;
    width: 1200px;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    color: white;
}

.posição img {
    width: 350px;
    height: 230px;
    border-radius: 20px;
}

.dashboard {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    color: white;
}

.dashboard h1 {
    font-size: 30px;
}
.card_dashboard {
    background-color: #0E2C61;
    display: flex;
    flex-direction: column;
    width: 570px;
    border-radius: 20px;
    height:  650px;
    gap: 20px;
    padding: 20px;
}

.KPIS {
    display: flex;
    justify-content: space-between;    
}


.KPI_1 {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_dashboard h1 {
    font-size: 15px;
}

.KPI_1  .KP1_TEMPO{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBD800;
    border-radius: 15px;
    
    font-size: 20px;
    color: black;
}



.KPI_2 {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.KPI_2  .KP2_FUTEBOL{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBD800;
    border-radius: 15px;
    color: black;
    font-size: 30px;
}


.KPI_3 {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.KPI_3  .KP3_GANHO{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb0000;
    border-radius: 15px;
    
    font-size: 30px;
}

.calculo {
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    background-color: #0B9FEB;
    height: 50px;
    font-size: 30px;
    border-radius: 15px;
}

.mensagem_usuario {
    height: 60px;
    gap: 45px;
    margin: 20;
}

.posição_calculo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A7FE8;
    height: 30px;
    font-size: 25px;
    border-radius: 10px;
}


.card {
    background-color: white;
    border-radius: 20px;
    height: 250px;
    width: 50;
    display: flex;
    justify-content: center;
}

.registros {
   
    height: 140px;
    width: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
   
}

.inputs {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100px;
}

.botões_registro {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    width: 75px;
}

.inputs input {
    border: 7px solid #2A7FE8;
    height: 26px;
    width: 190px;
    color:  #0E2C61;
    font-family:"Lilita One", sans-serif ;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.inputs select {
    border: 7px solid #2A7FE8;
    height: 35px;
    width: 200px;
    color:  #0E2C61;
    font-family:"Lilita One", sans-serif ;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.botões_registro button {
           background-color: #2A7FE8 ;
    color: white;
    font-family: "Lilita One", sans-serif;
    font-size: 15px;
    height: 40px;
    width: 140px;
    border: 7px solid #8AD9FF;
    border-radius: 20px;

}

.aviso {
   
    width: 1240px;
    font-size: 30px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_times {
    display: flex;
    flex-wrap: wrap;
    width:990px;
    height: auto;
    display: flex;
    padding: 30px;
    gap: 15px;
    row-gap: 15px;
    column-gap: 15px;
    margin: 0;
    justify-content: center;
}

.card_time {
    padding: 20px;
    border: 7px solid #0B9FEB;
    background-color: #0E2C61;
    height: auto;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
    
}

.card_time button {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 7px solid #2A7FE8;
    font-family: "Lilita One", sans-serif;
    font-size: 20px;
    text-decoration: none;

}

.card_time button a {
    text-decoration: none;
    color: black;
}

.dados_time {
    font-size: 30px;
}